body {
  min-width: 320px;
  min-height: 100vh;
}

header {
  background-color: #030624;
  margin-inline: 2px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(239, 238, 245, 0.856);
  border: 2px solid rgba(247, 247, 247, 0.377);
}

header p {
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
}
.container {
  background-color: white;
}
.goals-container {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

.goals-heading {
  font-size: 1.2rem;
  font-weight: 500;
}
.sub-title {
  font-size: 0.9rem;
  color: gray;
}

h1 {
  line-height: 1.1;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: 2px solid rgba(255, 255, 255, 0.849);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(235, 234, 238, 0.856);
  padding: 16px;
  background-color: rgb(236, 234, 234);
}
.card .status {
  font-size: 0.9rem;
  color: rgb(112, 111, 111);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid rgba(247, 247, 247, 0.377);
  box-shadow: 1px 2px 8px rgb(199, 196, 196);
  padding: 15px;
  margin-top: 40px;
  border-radius: 5px;
  width: 75%;
  margin: auto;
}

.form-container button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 0.95em;
  margin-top: 12px;
  font-weight: 500;
  background-color: #101013e1;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 18px;
}
li {
  margin-bottom: 17px;
  list-style: none;
}

.input-field {
  padding-inline: 15px;
  padding-block: 6px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 5px;
}
.date-field {
  margin-left: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.create-goal-btn {
  position: absolute;
  bottom: 0;
  right: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-top: 12px;
  font-weight: 500;
  background-color: #0a0d24;
  color: white;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 30px;
}
button:hover {
  border-color: #646cff;
  background-color: rgb(8, 8, 53);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  background-color: gray;
  margin-top: 20%;
  padding-block: 10px;
}
